@import url(https://fonts.googleapis.com/css?family=Roboto:400,100);
body,html{
  width:100%;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
  -webkit-box-shadow: 0 0 0 30px white inset;
}

.msg{
    color: red;
    text-align: center;
}
.login-container{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width:100%;
  height: 100%;
  box-sizing: border-box;
}

.login-card {
  padding: 40px;
  width: 404px;
  background-color: #E5F0F5;
  margin: 0 auto 10px;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.login-card h1 {
  font-weight: 100;
  text-align: center;
  font-size: 2.3em;
}
.title{
    font-family: Roboto !important;
}
.login-card input[type='submit'] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
  background-color:#294552;
}

.login-card input[type=text],.login-card input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  background-color: #fff !important;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  text-align: center;
}

.login-card input[type='text']:hover, input[type='password']:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.login {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
}

.login-submit {
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #00BFFF;
}

.login-submit:hover {
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #000;
}

.login-card a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.login-card a:hover {
  opacity: 1;
}
