body{
    margin: 2% 15%;
}
.editContainer{
    display:grid;
}

.editbox{
    display: grid;
    grid-template-columns: 100%;
    grid-gap:2%;
}

.editItem{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-gap: .5%;
    margin-bottom: 5px;
    height: 30px;
}

.editItem > input {
    background-color: #9EB9B3;
}

.editTitle{
    background-color: #294552;
    height: 30px;
    padding: 15px 0 0px 20px;
    color: #D4C5C5;

}

.editButtons{
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.editButton{
    margin:10px;
    width:150px;
    background-color: #294552;
    color:white;
    height: 35px;
    font-weight: 600;
}
