
.editContainer{
    display:grid;
    width:100%;
    margin:0;
    box-sizing: border-box;
}

.editbox{
    display: grid;
    grid-template-columns: 100%;
    grid-gap:2%;
    padding: 20px;
}

.editItem{
    display: grid;
    grid-template-columns: 30% 70%;
    margin-bottom: 5px;
    height: 30px;
    width:100%;
    box-sizing: border-box;
}

.editItem > input {
    background-color: #ACC4CE;
}

.editTitle{
    background-color: #294552;
    height: 30px;
    padding: 15px 0 0px 20px;
    color: #D4C5C5;
}

.editButtons{
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.editButton{
    margin:10px;
    width:150px;
    background-color: #294552;
    color:white; 
    height: 35px;
    font-weight: 600;
}

a.editButton{
display: flex;
justify-content: center;
align-items: center;
text-decoration: none;
}