

.page-title{
    font-size: 24pt;
    color:#294552;
    margin:20px 0 20px;
    font-weight:600;
}

table{
  border-collapse:collapse;
    width:100%;
}

table>thead>tr{
    background-color: #294552;
    height: 40px;
}

table>thead>tr>td{
    width:170px;
    text-align:center;
    color:white;
    padding-top:20px;
}

table>tbody>tr:nth-child(2n){
    background-color: #ACC4CE;
    height: 40px;
}

table>tbody>tr:nth-child(2n+1){
    background-color: white;
    height: 40px;
}
table>tbody>tr>td{
    width:170px;
    text-align:center;
    color:#294552;
    padding-top:10px;
}
table>tbody>tr>td, table>thead>tr>td{
    width: 10.5%;
    padding-bottom: 10px;
}
table>tbody>tr>td:nth-child(1), table>thead>tr>td:nth-child(1){
    width: 8%;
}
table>tbody>tr>td:nth-child(5), table>thead>tr>td:nth-child(2){
    width: 18%;
}
table>tbody>tr>td:nth-child(6), table>thead>tr>td:nth-child(6){
    width: 6%;
}
table>tbody>tr>td:nth-child(7), table>thead>tr>td:nth-child(7){
    width: 6%;
}
