<section>
  <form class="" action="/add_user" method="post">
    <label>name <input type="text" name="name" value="" required>
    </label>
    <label>Username <input type="text" name="username" value="" required>
    </label>
    <label>Email <input type="email" name="email" value="" required>
    </label>
    <label>password <input type="password" name="password" value="" required>
    </label>
    <label>Confirm password <input type="password" name="confPass" value="" required>
    </label>
    <label>Mobile Number <input type="number" name="mobile" value="" required>
    </label>
    <label>ID Number <input type="number" name="idNumber" value="" required>
    </label>
    <label>Job title <input type="text" name="jobTitle" value="" required>
    </label>
    <input type="checkbox"  name="role" value='admin' >Admin
    <input type="submit" name="" value="Add User">
  </form>
</section>
