<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>FOUR</title>
    <head>
    </head>
    <body>
        <header>
        </header>
        <main >
            {{{body}}}
        </main>
    </body>
    {{#if func}}
    <script src="/js/{{func}}.js"></script>
    {{/if}}
    {{#if auth}}
    <script src="/js/{{auth}}.js"></script>
    {{/if}}
</html>
